@use "root.scss";

body {
  background: var(--color-background);
  font-family: var(--font-inter-sans);
}

button {
  cursor: pointer;
}

input, input:active, input:focus, input:hover {
  outline: none;
  appearance: none !important;
  color: var(--color-background);
  font-size: 20px !important;

  @media screen and (max-width: 640px) {
    font-size: 12px !important;
  }
}

/* Для Chrome, Safari и Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #B6B6B6 inset; /* меняет фон */
  -webkit-text-fill-color: var(--color-background); /* меняет цвет текста */
  font-size: 20px !important;
  letter-spacing: -.02em;
  transition: background-color 5000s ease-in-out 0s; /* предотвращает мерцание */

  @media screen and (max-width: 640px) {
    font-size: 12px !important;
  }
}

/* Для Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #002a90 inset;
  -moz-text-fill-color: white;
  font-size: 15px !important;
  letter-spacing: -.02em;
  line-height: 115%;
}

section:first-child {
  min-height: 1000px;
  background: url('/main-fon.jpg') center bottom no-repeat;
  background-size: cover;

  @media screen and (max-width: 550px) {
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 71px;

  span {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: -.02em;
    color: white;
  }

  a {
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -.02em;
    color: #DADADA;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    margin: 0;
    max-width: none;
    padding-right: 104px;
    padding-left: 104px;
  }

  @media screen and (max-width: 1350px) {
    padding-right: 46px;
    padding-left: 46px;
  }
  
  @media screen and (max-width: 550px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#gallery-lent::-webkit-scrollbar, #feedback-lent::-webkit-scrollbar {
  display: none;
}
