@use "root.scss";

body {
  background: var(--color-background);
  font-family: var(--font-inter-sans);

  * {
    transition: all 0.3s;
  }
}

button {
  cursor: pointer;
}

input,
input:active,
input:focus,
input:hover {
  outline: none;
  appearance: none !important;
  color: var(--color-background);
  font-size: 20px !important;

  &.error {
    outline: #69491f solid 2px !important;
    outline-offset: -2px;
  }

  @media screen and (max-width: 640px) {
    font-size: 12px !important;
  }
}

/* Для Chrome, Safari и Edge */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #b6b6b6 inset; /* меняет фон */
  -webkit-text-fill-color: var(--color-background); /* меняет цвет текста */
  font-size: 20px !important;
  letter-spacing: -0.02em;
  transition: background-color 5000s ease-in-out 0s; /* предотвращает мерцание */

  @media screen and (max-width: 640px) {
    font-size: 12px !important;
  }
}

/* Для Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #002a90 inset;
  -moz-text-fill-color: white;
  font-size: 15px !important;
  letter-spacing: -0.02em;
  line-height: 115%;
}

section:first-child {
  min-height: 1000px;
  background: url("/main-fon.jpg") center bottom no-repeat;
  background-size: cover;

  @media screen and (max-width: 550px) {
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 71px;

  span {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: white;

    @media screen and (max-width: 640px) {
      font-size: 12px;
    }
  }

  a {
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #dadada;

    @media screen and (max-width: 800px) {
      font-size: 12px;
    }

    @media screen and (max-width: 640px) {
      font-size: 10px;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    margin: 0;
    max-width: none;
    padding-right: 104px;
    padding-left: 104px;
  }

  @media screen and (max-width: 1350px) {
    padding-right: 46px;
    padding-left: 46px;
  }

  @media screen and (max-width: 550px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#gallery-lent::-webkit-scrollbar,
#feedback-lent::-webkit-scrollbar {
  display: none;
}

#team ul li {
  &.number-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &.number-2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.number-3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  &.number-4 {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  @media screen and (max-width: 767px) {
    &:nth-child(2n) {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &:nth-child(2n-1) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
