@use "root.scss";

body {
  background: var(--color-background);
  font-family: var(--font-inter-sans);
}

button {
  cursor: pointer;
}

section:first-child {
  min-height: 1000px;
  background: url('/main-fon.jpg') center bottom no-repeat;
  background-size: cover;

  @media screen and (max-width: 550px) {
    min-height: 100vh;
    background-position: bottom;
    background-size: cover;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 71px;

  span {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: -.02em;
    color: white;
  }

  a {
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -.02em;
    color: #DADADA;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    margin: 0;
    max-width: none;
    padding-right: 104px;
    padding-left: 104px;
  }

  @media screen and (max-width: 1350px) {
    padding-right: 46px;
    padding-left: 46px;
  }
  
  @media screen and (max-width: 550px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#gallery-lent::-webkit-scrollbar, #feedback-lent::-webkit-scrollbar {
  display: none;
}
